# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET_NAME=
S3_ENDPOINT_URL=https://xxx.com

# Server Configuration
PICUP_HOST=127.0.0.1
PICUP_PORT=36677
PICUP_THREADS=4

# Watermark Configuration
WATERMARK_TEXT=杂烩饭：https://zahui.fan
WATERMARK_POSITION=bottom_right
WATERMARK_COLOR=#888888
